.*
*.class
*.apk
*.o
*.o.*
*.jar
*.dex
*.so
*.launch
gen/com/larswerkman/holocolorpicker/BuildConfig.java
gen/com/larswerkman/holocolorpicker/R.java
bin/AndroidManifest.xml
bin/R.txt
bin/jarlist.cache
bin/resources.ap_
gen/com/larswerkman/holocolorpicker/R.java
gen/org/doubango/imsdroid/R.java
gen/org/doubango/ngn/R.java
.classpath
.project
bin/res/crunch/
gen/com/larswerkman/holocolorpicker/R.java
gen/org/doubango/imsdroid/R.java
gen/org/doubango/ngn/R.java
libs/armeabi/libhello-uart.so
!.gitignore
!*/
