src/*.c
src/*.h
*.check
*.lo
*.la
.libs
.deps
Makefile
libtool
Makefile.in
configure
config.log
aclocal.m4
autom4te.cache
build-aux
config.status
m4
INSTALL
libilbc-rfc3951.spec
pkgconfig/ilbc.pc
compile
config.guess
config.h
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h1
