.deps
.libs
Makefile
configure
config.log
build-aux
Makefile.in
*.exe
msilbc.iss
*.lo
*.la
config.status
libtool
autom4te.cache
INSTALL
aclocal.m4
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
m4/
missing

